# Copy this e.g. to `.env.dev` or `.env.prod`
# For dev envs you can probably commit to vcs, maybe not prod

AWS_REGION=eu-west-1
LEDGER=<put your ledger name here>
TABLE=<make a table in your ledger using `create table` or the QLDB console>
STREAM_ARN=arn:aws:kinesis:eu-west-1:272094006224:stream/comsum
